@font-face {
    font-family:'PT Sans';
    src: url('../fonts/PT Sans Bold.eot');
    src: url('../fonts/PT Sans Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PT Sans Bold.woff2') format('woff2'),
        url('../fonts/PT Sans Bold.woff') format('woff'),
        url('../fonts/PT Sans Bold.otf') format('opentype'),
        url('../fonts/PT Sans Bold.svg#PT Sans Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F6D4;
}

@font-face {
    font-family:'PT Sans';
    src: url('../fonts/PT Sans.eot');
    src: url('../fonts/PT Sans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PT Sans.woff2') format('woff2'),
        url('../fonts/PT Sans.woff') format('woff'),
        url('../fonts/PT Sans.otf') format('opentype'),
        url('../fonts/PT Sans.svg#PT Sans') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F6D4;
}
