/*
* CONTENT
*/
.content {
	text-align: center;
	&-item {
		display: block;
		position: relative;
		margin-bottom: 60px;
		padding-left: 70px;
		text-align: left;
		&:focus,
		&:hover {
			text-decoration: none;
		}
		&__icon {
			position: absolute;
			left: 0px;
			font-size: 50px;
			line-height: 1.05;
			color: $base-color;
			transition: transform 0.4s ease;
		}
		&__title {
			margin-bottom: 15px;
			transition: all 0.4s ease;
		}
		&__text {
			padding-right: 45px;
		}
		&:hover {
			.content-item__title {
				transform: translateX(-70px);
				transition: transform 0.4s ease;
			}
			.content-item__icon {
				transform: translateY(40px);
				color: $yellow;
				transition: transform 0.4s ease;
			}
		}
	}
}
.c-header {
	position: relative;
	margin: 112px 0 84px;
	&__title {
		margin-bottom: 17px;
	}
	&__text {
		max-width: 732px;
		margin: 0 auto 0;
		font-size: 20px;
		line-height: 1.2;
		color: $grey-blue;	
	}
	&::after {
		//content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 1140px;
		height: 1px;
		background-color: $grey-blue
	}
}

/* media content */
@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
	.content-item {
		margin-bottom: 40px;
	}
	.c-header {
		margin: 62px 0 64px;
		&::after {
			bottom: -30px;
		}
	}
}

@media screen and (min-width: 991px) {

}

@media screen and (min-width: 768px) {

}

