/*
* FOOTER
*/
.footer {
	height: 380px;
	padding-top: 64px;
	background-color: $base-color;
	color: #ffffff;
	& a {
		display: block;
		color: #fff;
		&:hover {
			text-decoration: none;
			opacity: 0.5;
		}
	}
}
.c-address,
.c-contact__mail,
.c-contact__phone, 
.c-link-list__link {
	line-height: 1.5;
}

/* media footer */
@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.footer {
		padding-top: 34px;
		text-align: center;
	}
	.c-contact {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 991px) {
	
}

@media screen and (min-width: 768px) {
	
}