/*
* HEADER
*/

.navbar {
	margin-bottom: 0;
	padding-top: 60px;
	&-brand {
		height: auto;
		padding: 0;
		font-size: 30px;
		font-weight: 700;
		& img {
			display: inline-block;
			width: 43px;
			height: 43px;
		}
		& span {
			display: inline-block;
			vertical-align: top;
			padding-top: 11px;
			padding-left: 2px;
		}
	}
}
.navbar-default {
	background-color: $yellow;
	border-color: transparent;
	& .navbar-brand {
		color: $base-color;
		&:hover {
			color: $base-color;
		}
	}
	& .nav>li>a {
		color: $base-color;
		font-size: 23.5px;
		font-weight: 700;
		line-height: 0.91;
		padding: 10px 35px;
		&:focus,
		&:hover {
			color: $yellow;
			background-color: $base-color;
		}
	}
	& .nav>.active>a {
		color: $yellow;
		background-color: $base-color;
		&:focus,
		&:hover {
			color: $yellow;
			background-color: $base-color;
		}
	}
	& .navbar-toggle {
		border: none;
		&:hover {
			background-color: $yellow;
		}
	}
	.navbar-collapse {
		border-color: $base-color;
		&.in {
			border-bottom: 1px solid $base-color;
		}
	}
}
.navbar>.container .navbar-brand {
	margin-left: 0;
}

.navbar-toggle {
	margin-top: 1px;
	color: $base-color;
	font-size: 23.5px;
	font-weight: 700;
	line-height: 0.91;
	position: relative;
	transition: opacity 0.5s ease-in;
	&:hover {
		cursor: pointer;
	}
}

.navbar-toggle[aria-expanded="true"] {
	.fa-bars {
			opacity: 0;
		}
	.fa-arrow-up {
			opacity: 1;
		}
	&:hover {
		.fa-times {
			opacity: 1;
		}
		.fa-arrow-up {
			opacity: 0;
		}
	}
}

.navbar-toggle[aria-expanded="false"] {
	&:hover {
		.fa-bars {
			opacity: 0;
		}
		.fa-arrow-down {
			opacity: 1;
		}
	}
}
.fa-bars,
.fa-arrow-down,
.fa-arrow-up,
.fa-times {
	transition: opacity 0.3s ease-in;
}

.fa-arrow-down,
.fa-arrow-up,
.fa-times {
	position: absolute;
	top: 9px;
	left: 9px;
	width: 23px;
	height: 23px;
	opacity: 0;
}

/* media header */
@media screen and (max-width: 991px) {
	.navbar {
		padding-top: 45px;
	}
}

@media screen and (max-width: 767px) {
	.container,
	.col-xs-12 {
		padding: 0 20px;
	}
	.navbar {
		padding-top: 25px;
	}
	.navbar>.container .navbar-brand {
		margin-left: 15px;
	}
}

@media screen and (min-width: 1200px) {
	.navbar-nav {
		margin-right: 65px;
	}
}

@media screen and (min-width: 991px) and (max-width: 992px){
	
}

@media screen and (min-width: 768px) {
	.navbar-nav {
		float: right;
		margin-top: 2px;
	}
}