/*
* SLIDER
*/
.slider {
	background-color: $yellow;
	&-text {
		padding: 127px 257px 0 0;
		&__title {
			margin: 0 0 22px 1px;
			line-height: 1;
			& .fa {
				margin-right: 30px;
				font-size: 50px;
			}
		}
		&__descr {
			margin-bottom: 17px;
			font-size: 20px;
			line-height: 1.2;
			color: $grey-blue;
		}
		&__text {
			color: $grey;
		}
	}
	&-icon {
		margin-top: 32px;
		&__item {
			display: inline-block;
			margin-right: 38px;
		}
		&__link {
			display: block;
			font-size: 42px;
			color: $link-color;
			transition: all 0.3s ease;
			&:focus,
			&:hover {
				color: $link-color;
				opacity: 0.6;
			}
			&:hover {
				transform: translateY(-7px);
				transition: all 0.3s ease;
			}
		}
	}
	&-img {
		position: relative;
		height: 637px;
		& img {
			position: absolute;
			top: 58px;
			left: 6px;
		}
	}
	& .slick-arrow {
		display: none!important;
	}
	& .slick-dots {
		position: absolute;
		bottom: 45px;
		left: 50%;
		transform: translateX(-50%);
		& li {
			display: inline-block;
			margin-right: 7px;
			border: none;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			opacity: 0.5;
			background-color: #ffffff;
		}
		& li.slick-active {
			opacity: 1;
		}
		& li:hover {
			opacity: 0.75;
			cursor: pointer;
		}
		& li button {
			display: none;
		}
	}
}

/* slider menu */
@media screen and (max-width: 1199px) {
	.slider{
		&-text {
			padding-right: 140px;
		} 
	} 
}

@media screen and (max-width: 991px) {
	.slider {
		&-text {
			padding-top: 152px;
			padding-right: 15px;
		}
		&-img {
			height: 662px;
			& img{
				width: 80%;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.slider {
		&-text {
			text-align: center;
			padding: 60px 0 80px;
		}
		&-icon__item:last-child {
			margin-right: 0;
		}
		& .col-sm-5 {
			display: none;
		}
		& .slick-dots {
			bottom: 25px;
		}
	}
}
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 991px) {

}

@media screen and (min-width: 768px) {

}