/*
* SUBSCRIBE
*/
.subscribe {
	text-align: center;
	background-color: $base-color;
	.c-header {
		margin-bottom: 41px;
		&__title {
			color: $yellow;
		}
		&__text {
			color: $text-color;
		}
		&::after {
			bottom: -278px;
			background-color: #959595;
		}
	}
	.c-form {
		margin-bottom: 78px;
	}
	.form-control {
		width: 580px;
  		height: 50px;
  		margin-right: 21px;
  		padding: 18px 24px;
  		font-size: 18px;
  		&:focus {
  			border-color: $yellow;
  			box-shadow: inset 0 0 8px rgba(242, 219, 41, 0.7);
  		}
	}
	.btn {
		width: 126px;
		height: 50px;
		border-radius: 3.4px;
		background-color: #fcdb00;
		border: solid 2px #010101;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.5;
		color: #010101;
		transition: all 0.3s ease;
		&:active,
		&:focus {
			background-color: rgba(252, 219, 0, 0.8);
			border-color: rgba(252, 219, 41, 0.8);
			outline: none;
		}
		&:hover {
			background-color: rgba(252, 219, 0, 0.8);
		}
	}
}

.c-social {
	margin-bottom: 69px;
	&__item {
		display: inline-block;
		margin-right: 32px;
	}
	&__link {
		display: block;
		width: 36px;
		height: 36px;
		font-size: 42px;
		line-height: 0.76;
		text-align: center;
		color: $yellow;
		transition: all 0.3s ease;
		&:focus,
		&:hover {
			color: rgba(252, 219, 0, 0.8);
		}
		&:hover {
			transform: translateY(-7px);
		}
	}
}

/* media subscribe */
@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 991px) {
	.subscribe {
		.c-header {
			&::after {
				bottom: -343px;
			}
		}
		.form-group {
			margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: 767px) {
	.subscribe {
		.c-header {
			margin: 62px 0 21px;
			&::after {
				bottom: -299px;
			}
		}
		.c-form {
			margin-bottom: 68px;
		}
		.form-group {
			padding: 0 25px;
		}
		.form-control {
			width: 100%;
		}
		.btn {
			width: 176px;
		}
	}
	.c-social {
		margin-bottom: 35px;
		&__item {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media screen and (min-width: 991px) {

}

@media screen and (min-width: 768px) {

}