<!-- content start -->

		<main class="content">
			<div class="container">
				<div class="">
					<div class="c-header">
						<h2 class="c-header__title">Tinyone features</h2>
						<p class="c-header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
					</div>
				</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="content-item">
								<span class="content-item__icon fa fa-tablet" aria-hidden="true"></span>
								<h3 class="content-item__title">Fully Responsive</h3>
								<p class="content-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="content-item">
								<span class="content-item__icon fa fa-lemon-o" aria-hidden="true"></span>
								<h3 class="content-item__title">Fully Layered PSD</h3>
								<p class="content-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="content-item">
								<span class="content-item__icon fa fa-folder-o" aria-hidden="true"></span>
								<h3 class="content-item__title">Font Awesome Icons</h3>
								<p class="content-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="content-item">
								<span class="content-item__icon fa fa-code" aria-hidden="true"></span>
								<h3 class="content-item__title">HTML3 & CSS3</h3>
								<p class="content-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="content-item">
								<span class="content-item__icon fa fa-envelope-o" aria-hidden="true"></span>
								<h3 class="content-item__title">Email Template</h3>
								<p class="content-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
							</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="#" class="content-item">
								<span class="content-item__icon fa fa-bookmark-o" aria-hidden="true"></span>
								<h3 class="content-item__title">Free to download</h3>
								<p class="content-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
							</a>
						</div>
					</div>
				</div>

			</div>
		</main>

<!-- content end -->