<!-- footer start -->

		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<address class="c-address">
							HALOVIETNAM LTD<br />
							66, Dang Van ngu, Dong Da<br />
							Hanoi, Vietnam<br />
						</address>
						<div class="c-contact">
							<a href="mailto:contact@halovietnam.com" class="c-contact__mail">contact@halovietnam.com</a>
							<a href="tel:+844 35149182" class="c-contact__phone">+844 35149182</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<div class="row">
							<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<ul class="c-link-list">
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Examples</a></li>
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Shop</a></li>
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">License</a></li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-6">
										<ul class="c-link-list">
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Contact</a></li>
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">About</a></li>
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Privacy</a></li>
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Terms</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<ul class="c-link-list">
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Download</a></li>
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Support</a></li>
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Documents</a></li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-6">
										<ul class="c-link-list">
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Media</a></li>
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Blog</a></li>
											<li class="c-link-list__item"><a href="#" class="c-link-list__link">Forums</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

<!-- footer end -->
	</div>
<!-- page-wrapper end -->
	<div class="icon-load"></div>

	<script src="js/main.js"></script>
</body>
</html>