<body class="loaded">

	<!-- page-wrapper start -->
	<div class="page-wrap">

		<!-- header start -->

		<header class="header">
			<nav class="navbar navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="fa fa-bars"></span>
							<span class="fa fa-arrow-up"></span>
							<span class="fa fa-arrow-down"></span>
							<span class="fa fa-times"></span>
							<span>Menu</span>
						</div>
						<a class="navbar-brand" href="/">
							<img src="img/logo.svg" alt="image-logo">
							<span>tinyone</span>
						</a>
					</div>
					
					<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
						<ul class="nav navbar-nav">
							<li class="nav__item"><a href="#features" class="nav__link">Features</a></li>
							<li class="nav__item"><a href="#support" class="nav__link">Support</a></li>
							<li class="nav__item"><a href="#blog" class="nav__link">Blog</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

<!-- header end -->