<!-- slider start -->

		<section class="slider">
			<div class="container">
				<div class="row">
					<div class="slik-slider">
						<div class="slik-slider__item">
							<div class="col-xs-12 col-sm-7">
								<div class="slider-text">
									<h2 class="slider-text__title">Inspire your inspiration</h2>
									<p class="slider-text__descr">Simple to use for your app, products showcase and your inspiration</p>
									<p class="slider-text__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit</p>
									<ul class="slider-icon">
										<li class="slider-icon__item">
											<a href="#" class="slider-icon__link"><i class="fa fa-apple"></i></a>
										</li>
										<li class="slider-icon__item">
											<a href="#" class="slider-icon__link"><i class="fa fa-android"></i></a>
										</li>
										<li class="slider-icon__item">
											<a href="#" class="slider-icon__link"><i class="fa fa-windows"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="slider-img">
								<img src="img/img-mobile_1.png" alt="image">
								</div>
							</div>
						</div>

						<div class="slik-slider__item">
							<div class="col-sm-7">
								<div class="slider-text">
									<h2 class="slider-text__title">Inspire your inspiration</h2>
									<p class="slider-text__descr">Simple to use for your app, products showcase and your inspiration</p>
									<p class="slider-text__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit</p>
									<ul class="slider-icon">
										<li class="slider-icon__item">
											<a href="#" class="slider-icon__link"><i class="fa fa-apple"></i></a>
										</li>
										<li class="slider-icon__item">
											<a href="#" class="slider-icon__link"><i class="fa fa-android"></i></a>
										</li>
										<li class="slider-icon__item">
											<a href="#" class="slider-icon__link"><i class="fa fa-windows"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="slider-img">
									<img src="img/img-mobile_2.png" alt="image">
								</div>
							</div>
						</div>

						<div class="slik-slider__item">
							<div class="col-sm-7">
								<div class="slider-text">
									<h2 class="slider-text__title">Inspire your inspiration</h2>
									<p class="slider-text__descr">Simple to use for your app, products showcase and your inspiration</p>
									<p class="slider-text__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit</p>
									<ul class="slider-icon">
										<li class="slider-icon__item">
											<a href="#" class="slider-icon__link"><i class="fa fa-apple"></i></a>
										</li>
										<li class="slider-icon__item">
											<a href="#" class="slider-icon__link"><i class="fa fa-android"></i></a>
										</li>
										<li class="slider-icon__item">
											<a href="#" class="slider-icon__link"><i class="fa fa-windows"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="slider-img">
									<img src="img/img-mobile_3.png" alt="image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

<!-- slider end -->