<!-- subscribe start -->

		<section class="subscribe">
			<div class="container">
				<div class="c-header">
					<h2 class="c-header__title">Keep in touch with us</h2>
					<p class="c-header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
				</div>
				<div class="c-form">
					<form action="#" method="" class="form-inline">
						<div class="form-group">
							<label for="email"></label>
							<input type="email" class="form-control" id="email" placeholder="Enter your email to update">
						</div>
						<button type="submit" class="btn">SUBMIT</button>
					</form>
				</div>
				<ul class="c-social">
					<li class="c-social__item">
						<a href="#" class="c-social__link"><i class="fa fa-facebook-square"></i></a>
					</li>
					<li class="c-social__item">
						<a href="#" class="c-social__link"><i class="fa fa-twitter-square"></i></a>
					</li>
					<li class="c-social__item">
						<a href="#" class="c-social__link"><i class="fa fa-google-plus-square"></i></a>
					</li>
					<li class="c-social__item">
						<a href="#" class="c-social__link"><i class="fa fa-pinterest-square"></i></a>
					</li>
				</ul>
			</div>
		</section>

<!-- subscribe end -->